name: inventory_barcode_app
description: "Inventory & POS with barcode, PDF reports, multi-users"
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.2.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  sqflite: ^2.3.0
  path: ^1.9.0
  path_provider: ^2.1.3
  mobile_scanner: ^5.1.1
  image_picker: ^1.1.2
  intl: ^0.19.0
  pdf: ^3.11.1
  printing: ^5.13.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
